@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Neon&display=swap');
* {
    --bg-color: white;
    --bg-second-color: #F8FFF8;
    --bg-third-color: #E4E3D7;
    --link-hover-color: #FCCAB3;
    --main-color: #E5F6DF;
    --border-color: #B3D6FF;
    --text-color: grey;
    --pop-color: #FCCAB3;
    --bg-color-black: #212427;
    font-family: 'Tilt Neon', serif;
}


html, body {
    margin: 0;
    padding: 0;
}





/*
        SIDEBAR
*/

.sidebar {
    width: 5rem;
    background-color: var(--main-color);
    height: 300px;
    position: absolute;
    margin-top: 10%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
}
   

.sidebar-ul li {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.sidebar-item {
    width: 100%;
}

.sidebar-link {
    display: flex;
    align-items: center;
    height: 5rem;
}

.sidebar-link-text {
    display: none;
}

.sidebar img {
    max-width: 2rem;
    margin: 0 1.5rem;
}


/*
        NAV BAR
*/

.nav {
    background-color: white;
    float: right;
    height: 50px;
    width: 100%;
    font-size: 20px;
    text-align: right;
    justify-content: right;
    list-style-type: none;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-ul li {
    display: inline-block;
    padding: 0px 20px;
    
}

.nav-ul li a {
    transition: all 0.3s ease 0s;
    color: var(--text-color);
    position: relative;
}

.nav-ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--link-hover-color);
    transition: width 0.3s;
}

.nav-ul li a:hover::after {
    width: 50%;
}

.nav-ul li a:hover {
    color: var(--link-hover-color)
}

.nav a:link , .nav a:visited, .nav a:hover {
    align-items: center;
    text-decoration: none;
    
}

/*
        HEADER
*/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

/*
        HOMEPAGE
*/

.static-header {
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    color: var(--text-color);
    margin-bottom: 0px;
}

#homepage-section {
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 100px;
}

.homepage-bg {
    justify-content: center;
    display: flex;
    margin-top: 50px;
    position: relative;
}

#homepage-intro {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px var(--border-color);
    margin-bottom: 20px;
}

/*
        HOMEPAGE ANIMATION
*/

.animation-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#homepage-section .animation {
    margin-left: -30px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.animation li {
    list-style: none;
    font-size: 50px;
    animation: slide 12s steps(3) infinite;
    position: relative;
    color: var(--pop-color);
    font-weight: bold;
    top: 0;
}

@keyframes slide {
    100%{
        top: -270px;
    }
}

.animation li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    border-left: 2px solid var(--pop-color);
    animation: typing 4s steps(18) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px ;
    }
}

/*
        HOMEPAGE ARROW
*/
#homepage-section .arrow-animation {
    position: absolute;
    height: 50px;
    width: 30px;
    left: 50%;
    bottom: 20px;
    cursor: pointer;
}

#homepage-section .arrow-animation::before,
#homepage-section .arrow-animation::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid var(--pop-color);
    height: 16px;
    width: 16px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: arrow-animation 1s ease-in-out infinite;

}

#homepage-section .arrow-animation::after {
    top: 30%;
    animation-delay: .3s;

}

@keyframes arrow-animation {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }

}



/* 
        ABOUT ME 
*/

#about-me-section  {
    padding-top: 1rem;
    margin: auto;
    height: 90vh;
    border-radius: 25px;
    max-width: 90%;
   
}

.about-me-info {
    text-align: center;
    color: var(--text-color);
    /*
    display: inline-flex;
    */
    display: flex;
    flex-direction: row;

}

#about-me-section h2 {
    color: var(--pop-color);
    font-size: 60px;
    margin: 80px;
    text-align: center;
}

.about-me-area {
    background-color: var(--bg-second-color);
    box-shadow: 0 14px 28px var(--bg-third-color), 0 10px 10px var(--bg-third-color);
    /*
    width: 300px;
    height: 325px;
    */
    width: 50%;
    max-height: 100%;
    margin: 20px;
    border-radius: 20px;
    display: inline-block;
    
}

.about-me-area p {
    display: block;
    margin: 20px 8px;
}

#about-me-section img {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 5px solid var(--bg-third-color);
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

@media(max-width: 768px) {
    .about-me-info {
        display: flex;
        flex-direction: column;
    }

}



/* 
        PROJECTS
*/

#projects {
    padding-top: 20px;
    height: 90vh;
}

.project-header {
    font-size: 60px;
    text-align: center;
    color: var(--pop-color);
}

.slide__text {
}

#projects img {
    width: 100px;
    height: 100px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 5px solid var(--bg-third-color);
    border-radius: 20px;
    padding: 15px;
}


#projects p {
    color: black;
}



/* 
        SLIDES 
*/

.slide-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.slider {
    width: 900px;
    height: 400px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /*
    border: 10px solid var(--bg-third-color);
    */
    box-shadow: 0 14px 28px var(--bg-third-color), 0 10px 10px var(--bg-third-color);

}

.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
    background-image: linear-gradient(to right top, #fccab3, #f6d6b6, #eee2c0, #e8edce, #e5f6df);    
}

.slide:nth-of-type(odd) {
    background-image: linear-gradient(to left bottom, #fccab3, #f6d6b6, #eee2c0, #e8edce, #e5f6df);
    
}

.slide {
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

.slide__text {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: 50px;
    color: white;
}

#projects .slide-content {
    font-size: 20px;
    text-align: center;
    margin: 20px 60px;
    color: var(--text-color);
}

.slide a {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid grey;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

a.slide__prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}





/* 
        EXTRACURRICULARS 
*/

#extracurriculars {
    width: 60%;
    padding: 5%; 
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: auto;
}

.extra-header {
    font-size: 60px;
    margin-bottom: 0;
    padding-top: 35px;
    color: var(--border-color);
    align-items: center;
    justify-content: center; 
    text-align: center;
}


.extra-col .extra-contents {
    padding: 0px 30px;
    border-left: 2px solid var(--pop-color);    
}

.extra-col .extra-contents .extra-box {
    position: relative;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.extra-col .extra-contents .extra-box:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}

.extra-col .extra-contents .extra-box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: var(--pop-color);
    border: 2px solid var(--pop-color);
}

.extra-box h3 {
    color: var(--text-color);
    font-size: 20px;
}

.extra-box h4 {
    position: relative;
    color: var(--text-color);
}

.extra-box-text {
    color: var(--text-color)
}

@media(max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }
    .row .extra-col:nth-child(2) {
        margin-top: 30px;
    }
}




/* 
        CONTACT PAGE  
*/

.contact-main {
    color: var(--text-color);
}

#contact-header {
    color: var(--pop-color);
    text-align: center;
    font-size: 50px;
}

.email-header {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: flex;
    text-align: center;
    width: 400px;
    margin: 0 auto 0 auto;
}


.linkedin-header {
    text-align: center;
}

.button {
    margin: 0 auto;
    display: block;
}

/* 
        FOOTER 
        
        
*/

#footer {
    text-align: center;
    font-size: 20px;
    height: 90px;
    width: 100%;
    margin-top: 100px;
    background-color: var(--main-color);
    opacity: 0.6;
}

footer {
    justify-content: center;
    color: grey;
    font-size: 15px;
    padding-top: 3px;
}

.footer-ul {
    list-style: none;
}

.footer-ul li {
    display: inline-block;
    padding: 0px 20px;
}

.footer-ul li a {
    text-decoration: none;
    color: var(--text-color)
}